
            /*
            *{
                color: red;
                background-color: green;
              
            }
            */
            
            h1{
                color: red;
            }

            #Header-1{
                color: green;
            }
            .dog{
                color: red;
            }
            
   